<% if @event.errors.any? %>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>


<%= f.collection_select(:category_id, Category.all, :id, :name) %>
<%= f.label :topic, "標題" %>
<%= f.text_field :topic %>
<%= f.label :description, "標題" %>
<%= f.text_field :description %>
<%= f.submit "提交"%>
