<%= link_to "新增災情", new_event_path %>

<table>
<% @events.each do |e| %>
  <tr>
		<td><%= e.topic %></td>
		<td><%= message.user.try(:short_name) %></td>
		<td>張貼時間:<%= event.updated_at %></td>
		<td><%= link_to "詳細災情", event_path(e) %></td>
		<td><%= link_to "編輯", edit_event_path(e) %></td>
		<td><%= link_to "刪除", event_path(e), :method => :delete, :data => {:confirm => "確定刪除？" } %></td>
	</tr>

<% end%>
</table>

<%= paginate @events %>
